.poll-box{
    margin-top: 100px;
    margin-left: 400px;
    width: 400px;
    height: 350px;
    
}
.poll-box img{
    width: 250px;
    height: 100px;
    margin-top: -39px;
    margin-bottom: 7px;
}
.poll-box h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--green);
    text-transform: uppercase;
    animation: blinking 3s infinite;
}
@keyframes blinking {
    0% {
        color: var(--bg-color);
    }

    100% {
        color: var(--green);
    }
}

input {
    width: 68%;
    box-shadow: var(--box-shadow);
    background: none;
    color: var(--black);
    border-radius: 5px;
    padding: 7px;
    margin-top: 10px;
}

input:focus {
    box-shadow: var(--box-shadow-inset);
}

.pbtn{
    color: var(--black);
    background: var(--btn);
    box-shadow: var(--box-shadow);
    width: 68%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
}
.pbtn:hover{
    box-shadow: var(--btn-A);
}
/*.container img {
    text-transform: uppercase;
    animation: blinking 3s infinite;
}*/